<script context="module" lang="ts">
	// export const hydrate = true;
</script>

<script lang="ts">
	import { csr } from '$lib/csr';

	import { onDestroy } from 'svelte';
	import App from './clock.svelte';

	let time = new Date().toLocaleTimeString();
	const incr = () => {
		time = new Date().toLocaleTimeString();
	};

	csr(App, () => {
		const clear = setInterval(incr, 500);
		onDestroy(() => clearInterval(clear));
	});
</script>

<h1>clock</h1>
<p>{time}</p>
<p><a href="/">home</a></p>
