<script context="module" lang="ts">
	export const hydrate = false;
</script>

<h1>Welcome to SvelteKit</h1>
<p>
	Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation
</p>
<p><a href="/about">about</a></p>
<p><a href="/clock">clock</a></p>
<p><a href="/items">items</a></p>
