<script context="module" lang="ts">
	import type { Item } from '$lib/store';
	import type { Load } from '@sveltejs/kit';
	import type { GetRes } from './index.json';

	export const hydrate = false;
	export const load: Load = async ({ params, fetch }) => {
		const res = await fetch('/items.json');
		if (300 <= res.status) return { status: res.status };
		const { items }: GetRes = await res.json();
		const item = items.find(i => i.id === Number(params.id));
		if (item)
			return {
				status: 200,
				props: { item },
			};
		return {
			status: 302,
			redirect: '/',
		};
	};
</script>

<script lang="ts">
	export let item: Item;
</script>

<h1>{item.name}</h1>
<p>id: {item.id}</p>
<p><a href="/items">back to items</a></p>
