<script context="module" lang="ts">
	import type { Item } from '$lib/store';
	import type { Load } from '@sveltejs/kit';

	export const hydrate = false;
	export const load: Load = async ({ fetch }) => {
		const res = await fetch('/items.json');
		return {
			status: res.status,
			props: await res.json(),
		};
	};
</script>

<script lang="ts">
	export let items: readonly Item[];
</script>

<h1>items</h1>

{#each items as item}
	<p><a href={`/items/${item.id}`}>{item.name}</a></p>
{/each}
<hr />
<p><a href="/items/new">new</a></p>
<p><a href="/">home</a></p>
