<h1>new item</h1>
<form action="/items.json" method="post" enctype="multipart/form-data">
	<input type="text" name="name" required />
	<button type="submit">create</button>
</form>
<p><a href="/items">back</a></p>
